{%- comment -%} Template: page.brands-index.liquid {%- endcomment -%}
<div class="page-width" style="margin-bottom:1.5rem;">
  <header class="section-header text-center">
    <h1>כל המותגים בקולקציה</h1>
  </header>
</div>

{% section 'brands-logos-MO' %}
